---
const song = Astro.props.song;
---

<div class="cursor-pointer" id={song._id}>
    <div class="py-5 gap-4">
        <div>
            <img class="rounded-3xl" src={song.album.image.url} alt="" class="w-56 h-56">
        </div>
        <div>
            <p class="font-bold">{song.title}</p>
            <p>{song.author.name}</p>
        </div>
</div>

<script define:vars={{ song }}>
    document.getElementById(song._id).addEventListener('click', () => {
        const event = new CustomEvent('playSong', {
            detail: { song }
        });
        window.dispatchEvent(event);
    });
</script>