---
import tailwindcss from '@tailwindcss/vite'
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>Sonic Luminary</title>
	</head>
	<body>
		<div></div>
		<div></div>

		<slot />
		<footer class="left-0 w-full h-24 flex justify-between items-center px-10">
			<div>
				<img src="" alt="">
				<div>
					<p>Cyber Soul</p>
					<p>The Glitch Factor</p>
				</div>
				
			</div>
			<div>
				<div></div>
				<div></div>
			</div>
			<div>
				<button></button>
				<button></button>
				<div>
					<button></button>
					<div></div>
				</div>
				<button></button>
			</div>
			
		</footer>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
