---
import "../styles/global.css";
import { Icon } from 'astro-icon/components'
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>Sonic Luminary</title>
	</head>
	<body>
		
	

		<div class="flex">
			<div>
				<header class="flex flex-col justify-between gap-4 px-8 py-4">
					<p class="font-bold text-3xl">Sonic Luminary</p>
					<div class=" gap-4">
						<div class="">
							<a class="font-bold text-lime-500" href="/">View Music</a>
						</div>
					</div>
				</header>
				

			</div>
			<div>
				<slot />
			</div>
			<div>
				current song
			</div>
		</div>

		<div>
			<div>
				<img id="album-art" src="" alt="">
				<div>
				<p id="title"></p>
				<p id="artist"></p>
				</div>
			</div>
			<div>
				<Icon name="shuffle" size={24} />
				<Icon name="skip-back" size={24} />
				<Icon name="play-circle" size={24} />
				<Icon name="skip-next" size={24} />
			</div>
			<audio autoplay id="lol" src=""></audio>
			<div></div>
		</div>

	</body>
</html>

<script>
window.addEventListener('playSong', (event) => {
	const song = event.detail.song;
	document.getElementById('album-art').src = song.album.image.url;
	document.getElementById('title').textContent = song.title;
	document.getElementById('artist').textContent = song.author.name;
	document.getElementById('lol').src = song.audio.url;
});
</script>

